fastapi[standard]
uvicorn[standard]
openai
firebase-admin
python-dotenv
pydantic-settings
PyJWT
cryptography
requests
motor
python-multipart
duckduckgo-search
certifi
azure-storage-blob
azure-ai-documentintelligence
azure-search-documents
sse-starlette
aiohttp
aiofiles
python-docx
fpdf2
